* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#header, #footer {
    width: 100vw;
}

#header {
    background-image: url(../images/hero3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
}
.hero-content h3 {
    margin: 15px 0px 30px;
    font-size: 1.5rem;
}
.hero-content a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25rem;
}

#main {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}
#main h2 {
    text-align: center;
    font-size: 3rem;
}

#main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    gap: 25px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer {
    background-color: #2f2f2f;
    margin-top: 50px;
}
#footer .links {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 25px 0px;
    justify-content: center;
}
.links a{
    color: white;
    text-decoration: none;
}

/*
    Let's start by adjusting our header styles to fit smaller screens.
    Our hero seems to look fine for anything above 725px but not anything
    below that width. We know that a good range for tablet sizes is between 481px and 768px in width. Which means, our hero only looks fine for a few tablet models that have a viewport width higher than 725px, which is excluding a lot of devices. So, we'll have to create a breakpoint that will
    adjust the styles for screens lower than 725px.

    Do you remember how we can create a media query with a breakpoint of 725px?

    We'll start by adding '@media screen and ()' then we'll call the condition
    we want to set in-between the parenthesis, in this case, we want to use
    'max-width: 725px', so these styles only get applied to the elements when
    the viewport is at a width of 725px or below.
*/
@media screen and (max-width: 725px) {
    /*
        Our font-sizes for our h1 and h3 are too big for smaller
        screens, so we can fix that by adding a style here that
        changes the h1 to have a font-size of 2.75rem and the
        h3 to have a font-size of 1.125rem.

        Our header text should fit much better now. Resize your
        screen and notice how that style is unapplied whenever
        our screen grows larger than 725px.
    */
    .hero-content h1 {
        font-size: 2.75rem;
    }
    .hero-content h3 {
        font-size: 1.125rem;
    }
    /*
        With our header done, let's change our gallery up as well.
        A three-column gallery doesn't seem to do well at smaller
        screens, so lets opt to change it for a two-column 
        gallery instead.

        Since we used CSS grid to create our gallery, we really only
        have to change the amount of columns we have through the
        grid-template-columns property. We can just remove one of
        the units and we'll now have a two column gallery.

        If we want to change the height as well, then we would just
        change the amount we set on our grid-auto-rows property here.
    */
    #main .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
/*
    I think that's all we have to change for now to accomodate tablet
    screen sizes. Let's move on to mobile devices.
*/