* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#header, #footer {
    width: 100vw;
}

#header {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.hero-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
}
.hero-content h3 {
    margin: 15px 0px 30px;
    font-size: 1.5rem;
}
.hero-content a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25rem;
}

#main .promotion {
    width: 80vw;
    max-width: 1000px;
    margin: 25px auto;
    height: 50vh;
    display: flex;
    gap: 25px;
    align-items: center;
}

.promotion .img-container {
    height: 100%;
    flex: 1;
}

.promotion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promotion .content {
    flex: 1;
}

#main .cards {
    display: flex;
    height: 50vh;
}

.cards .card {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pie.jpg);
    background-position: center;
    background-size: cover;
}
#card-2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/three-drinks.jpg);
    background-position: center;
    background-size: cover;
}

.cards a, .promotion a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}
.promotion a {
    display: block;
}

#footer {
    background-color: #2f2f2f;
}
#footer .links {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 25px 0px;
    justify-content: center;
}
.links a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 725px) {
    .hero-content h1 {
        font-size: 2.75rem;
    }
    .hero-content h3 {
        font-size: 1.125rem;
    }
    /*
        While our promotion and cards section work at this
        screen size, our cards would look much better stacked.

        So, to stack them, we can target the #main .cards and
        change the flex-direction to column. We don't have to
        change much else since we used flexbox.
    */
    #main .cards {
        flex-direction: column;
        /* 
            Though, notice how small they are in height now.
            We can fix that by changing the height we set
            from 50vh to 100vh.

            Now our cards look much better.
        */
        height: 100vh;
    }
}
/*
    I think our webpage looks good for tablet screens now.
    Let's move on to making them responsive for mobile screens.
*/
