* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    margin: 24px 0;
}

#two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 50%;
    /*
        Let's give our card a 1.5px solid off-white pinkish border with a radius of 5px. We're aiming for a soft elegant effect here.

        Let's also give it some padding to let the content breathe.
    */
    border: 1.5px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    /*
        Now, let's make our card look like it has some depth to it. We'll apply a box-shadow property to it with 4 values: -3px, 3px, 10px and another, lighter off-white color.

        Box-shadow applies shadows to elements by using up to 5 values in this order: offset-x, offset-y, blur-radius,spread-radius, and color.

        We're only using 4 values, which in this case are: offset-x, offset-y, blur-radius, and color.

        Additionally, we can add a value of inset at the start to invert our shadows into the element if need be.
    */
    box-shadow: -3px 3px 10px #ddd;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2 {
    font-size: 36px;
    margin-top: 10px;
}
.card p {
    font-family: sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.anchor-btn {
    display: block;
    background-color: lightcoral;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid lightcoral;
    transition:
        background-color .5s,
        color .5s;
}
.anchor-btn:hover {
    background-color: transparent;
    color: lightcoral;
}