* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    margin: 24px 0;
}

#two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /*
        To get some breathing room between our cards, lets give them a shorthand margin of 0px top, 25px right, 25px bottom, and 0px left.

        You'll notice that our cards now no longer sit beside each other. That's because the width we set on them are not taking the margins we've added into account. Let's fix that
    */
    margin: 0 25px 25px 0;
    /*
        What we can do to fix that issue is to use the calc() function. The calc() function lets you perform calculations when specifying CSS property values. It can be used with length, frequency, angle, time, percentage, number, or integer values.

        Let's add a calc(50% - 25px) value to our width. This is telling our card to be the width of whatever 25px subtracted from 50% of our card's container's width is. Basically doing the math for us. 

        Our cards should sit side by side once more. However, if you look at our second card, you'll see it has more space to the rigth side of it compared to the left side of our first card. This is because the margin we added is targetting all cards instead of the first ones in each row. We can fix this in the next step.
    */
    width: calc(50% - 25px);
    border: 1.5px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -3px 3px 10px #ddd;
    background: linear-gradient(-50deg, #ffdbdb,#fff7f7, #ffc9c9);
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2 {
    font-size: 36px;
    margin-top: 10px;
}
.card p {
    font-family: sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.anchor-btn {
    display: block;
    background-color: lightcoral;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid lightcoral;
    transition:
        background-color .5s,
        color .5s;
}
.anchor-btn:hover {
    background-color: transparent;
    color: lightcoral;
}