* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#header, #footer {
    width: 100vw;
}

#header {
    background-image: url(../images/hero3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
}
.hero-content h3 {
    margin: 15px 0px 30px;
    font-size: 1.5rem;
}
.hero-content a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25rem;
}

#main {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}
#main h2 {
    text-align: center;
    font-size: 3rem;
}

#main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    gap: 25px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
    Now we can design our footer.

*/